* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: #e0e0e0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.navMenu {
  display: block;
}
.navLink_Mobile {
  position: absolute;
  display: flex;
  /* background-color: whitesmoke; */
  flex-direction: column;
  position: absolute;
  top: 100px;
  z-index: 100;
  /* opacity: 0; */
  display: none;
}

.navLink {
  display: none;
}
span {
  width: 40px;
  height: 3px;
  margin-top: 0.4rem;
  background-color: green;
  display: block;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: #c70039;
}

.logo {
  font-size: 2rem;
  color: #c70039;
}
.open {
  /* opacity: 1; */
  display: block;
}
.formBody {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
}

.names {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.gender {
  display: flex;
  flex-direction: column;
}
.alert {
  width: 100%;
  background: #e0e0e0;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

p {
  margin-top: 20px;
}

@media only screen and (min-width: 760px) {
  .navMenu {
    display: none;
  }
  .navLink_Mobile {
    display: none;
  }

  .navLink {
    display: block;
  }
  .navLink ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .hero {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .heroRight {
    padding-left: 50rem;
    margin-bottom: 10rem;
  }

  .focus {
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 2.5rem;
  }

  p {
    margin-top: 20px;
    display: block;
  }
  .featureItem {
    border: 1px red solid;
  }

  .navFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    padding-right: 540px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .copyright {
    position: relative;
    right: 400px;
  }
  #save {
    font-size: 60px;
    text-decoration: none;
  }
}
