* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body {
  background: #e0e0e0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.navMenu {
  display: block;
  cursor: pointer;
}

.navLink_Mobile {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 5px solid #55281780;
  position: absolute;
  z-index: 100;
  top: 100px;
  /* opacity: 0; */
  display: none;
}

.navLink {
  display: none;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: #c70039;
}
.main {
  background-color: Rgb(229, 230, 225);
  /* background-image: url(./images/green1.jpg); */
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  text-align: left;
}

.open {
  /* opacity: 1; */
  display: block;
}

/* body {
    background-image: url(./images/green1.jpg);
    background-size: cover;
    height: 100%;
  } */

.focus {
  padding-top: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  display: block;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
}
.hero {
  display: flex;
  gap: 1rem;
  /* max-width: 480px; */
  margin-top: 250px;
  display: block;
}

.heroRight {
  margin-top: 1.5rem;
}

.premain,
img {
  margin-top: 40px;
  position: relative;
  background-size: cover;
  margin-top: 40px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  border-radius: 6px;
  overflow: hidden;
  /* display: block; */
}

.button {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 1.5rem;
  margin-left: 8rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: rgb(24, 135, 94);
  border: 1px solid #d2beb780;
  align-items: center;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

p {
  padding: 16px;
}
span {
  width: 40px;
  height: 3px;
  margin-top: 0.4rem;
  background-color: green;
  display: block;
  cursor: pointer;
}

.logo {
  font-size: 2rem;
  color: #c70039;
}

h1 {
  text-align: center;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 760px) {
  body {
    background-color: #e0e0e0;
  }

  .navMenu {
    display: none;
  }

  .navLink {
    display: block;
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }

  p {
    text-size-adjust: block;
    font-size: 25px;
  }

  .button {
    /* width: 100%; */
    margin-top: 1rem;
    margin-left: 800px;
    font-size: 1.2rem;
    /* align-items: center; */
    color: rgb(24, 135, 94);
    /* border: 1px solid #d2beb780; */
    /* border-radius: 20px;
    outline: none;
    cursor: pointer; */
  }

  /* .hero {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  } */

  .heroRight {
    padding-left: 50rem;
    margin-bottom: 10rem;
  }

  .premain,
  img {
    margin-top: 40px;
    position: relative;
    background-size: cover;
    margin-top: 40px;
    height: auto;
    max-width: 100%;
    font-size: 18px;
    border-radius: 6px;
    overflow: hidden;
    display: block;
  }
  .navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}
