* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.navMenu {
  display: block;
  cursor: pointer;
}

.navLink {
  display: none;
}
.navLink_Mobile {
  position: absolute;
  top: 100px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
#save {
  font-size: 40px;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: #c70039;
}
.main {
  background-image: url(./images/green1.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  text-align: left;
}
.overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #c70039;
}

.open {
  opacity: 1;
}

/* body {
  background-image: url(./images/green1.jpg);
  background-size: cover;
  height: 100%;
} */

.focus {
  padding-top: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  display: block;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
}
.hero {
  display: flex;
  gap: 1rem;
  /* max-width: 480px; */
  margin-top: 170px;
  display: block;
}

.heroRight {
  margin-top: 1.5rem;
}

.button {
  width: 100%;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  color: rgb(24, 135, 94);
  border: 1px solid #d2beb780;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
p {
  max-width: 300px;
  padding: 1rem 0;
}
span {
  width: 40px;
  height: 3px;
  margin-top: 0.4rem;
  background-color: green;
  display: block;
}

.logo {
  font-size: 2rem;
  color: #c70039;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 760px) {
  .navMenu {
    display: none;
  }

  .navLink {
    display: block;
  }

  .navLink ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .hero {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .heroRight {
    padding-left: 50rem;
    margin-bottom: 10rem;
  }

  .focus {
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 2.5rem;
  }

  p {
    display: block;
  }
  .featureItem {
    border: 1px red solid;
  }

  .navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #d5d5d5, inset -20px -20px 60px #ebebeb;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .copyright {
    /* position: relative; */
    right: 200px;
  }
  #save {
    font-size: 60px;
    text-decoration: none;
  }
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  width: 25px;
  animation-delay: 3s;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  width: 20px;
  animation-delay: 6s;
}
.bubbles img:nth-child(7) {
  width: 35px;
  animation-delay: 7s;
}
